@import'normal-reset'; @import 'imn-clone-alias-mixins';
body {
    overflow: hidden;
    background: #aaa;
}

h1 {
    @include serif;
    font-weight: 300;
}

p {
	@include sans;
}

h2 {
	@include sans;
}

.decor {
    @include decor;
    color: #fff;
}
$gutterH: 6vh;
$gutterW: 5vw;

.e-white {
    color: #fff;
}

.e-red {
    color: $cor;
}

.e-flex-col {
    @include flex-center-col;
    position: relative;
}

.e-flex {
    @include flex-center;
    position: relative;
}

.e-flex-start {    
    display: flex;
    align-items: center;
    position: relative;
    width: 80vw;
}

.e-serif {
    @include serif;
}

.e-italic {
    font-style: italic;
    color: lighten($cor,40%);
}

// -------------------- init project --------------------





// -------------------- FIXEDS--------------------


.trigger-menu {
    position: fixed;
    z-index: 1;
    right: $gutterW;
    top: $gutterH;
    width: 36px;
    height: 36px;
    border: 3px solid $cor;
    border-radius: 50%;

    img.menu-svg {
        width: 14px;
    }
}

img.imn-logo {
    top: 2vh;
    left: $gutterW;
    position: fixed;
    z-index: 1;
    width: 162px;
}


button.ctn-scroll-down {
    @include clear;
    position: fixed;
    left: $gutterW;
    bottom: 12vh;
    z-index: 1;

    .scroll-down {
        @include flex-center;
        position: relative;
        width: 46px;
        height: 46px;
        border: 2px solid rgba(255, 255, 255, 0.404);
        border-radius: 50%;
        -webkit-box-shadow: 10px 10px 70px -25px rgba(255,255,255,1);
        -moz-box-shadow: 10px 10px 70px -25px rgba(255,255,255,1);
        box-shadow: 10px 10px 70px -25px rgba(255,255,255,1);

        img.svg-down {
            width: 8px;
        }
    }

    .page-indicator {
        font-size: 14px;
        font-weight: bolder;
        margin-left: 14px;
    }
}
.holder-scroll-down {
    position: relative;
}

.ctn-triggers {
    @include mobile {
        display: none;
    }
    position: fixed;
    right: $gutterW;
    z-index: 1;
    top: 50%;
    transform: translate(-50%, -50%);

    .box-trigger {
        cursor: pointer;
        padding: 5px;
        margin: 11px 5px;

        .trigger {
            height: 4px;
            width: 4px;
            background: #ccc;
            border-radius: 50%;
        }
    }

}





section {
    @include flex-center-col;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

//    <!-- -------------------- SECTION 1 -------------------- -->
video.bgvid {
        position: absolute;
	    z-index: 4;
        top: 50%;
        left: 50%;
        min-width: 100vw;
        min-height: 100vh;
        width: 100vw;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0.2;
  
  }

  video#bgvid {
    width: 100vw;
    opacity: 0.8;
    @include mobile {
        display: none;
    }
}
.box-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden !important;

    .photo {
        position: absolute;
        @include hw100p;

    }
    .bg-pat{
        top: 0;
        left: 0;
        position: absolute;
        @include hw100p;
        background: url(../images/pattern.png);
    }

    img.decor {
        top: 0;
        left: 0;
        position: absolute;
        height: 100vh;
    }
}


.holder-infos {
     margin-top: -10vh;
    @include desk {
        margin-top: -10vh;
    }
}

.holder-h1 {
    position: relative;
    
    .symbol-decor {
        position: absolute;    
        width: 210px;
    }

    h1 {
        z-index: 1;
    }


    
}

.s1 .holder {
    @include flex-center;
    position: relative;
    width: 90vw;
}

.holder {
    width: 80vw;
    margin-top: 0;
    position: relative;
}



.s1 {
    .holder-infos {
        margin-top: 0vh;
       @include desk {
           margin-top: 13vh;
       }
   }
   
   .holder-h1 {
       margin-top: -7vh;
       @include tablet {
           width: 65vw;
       }

        .symbol-decor {
            position: absolute;    
            width: 73%;
        }
        h1 {
            margin-left: 6vw;
            font-size: calc(40px + 54 * ((53vw + 53vh) - 520px) / 820);
            @include tablet {
                font-size: calc(36px + 54 * ((45vw + 53vh) - 520px) / 820);
            }
            @include desk{
                font-size: calc(50px + 54 * ((45vw + 53vh) - 520px) / 820);            
            }
        }
    }

    .holder-h2 {
        h2 {
            font-size: calc(28px + 54 * ((22vw + 53vh) - 520px) / 820);
            letter-spacing: 1px;
            @include tablet {            
                font-size: calc(22px + 54 * ((22vw + 53vh) - 520px) / 820);
            }
            @include desk {       
                font-size: calc(18px + 54 * ((22vw + 53vh) - 520px) / 820);
                letter-spacing: 2px;
            }
            @include hd {
                font-size: calc(16px + 54 * ((22vw + 53vh) - 520px) / 820);
                
            }
        }
    }

    .holder-p {
        margin-top: 3vh;
        color: $cor;
        font-size: calc(22px + 54 * ((12vw + 53vh) - 520px) / 820);
        @include tablet {
            font-size: calc(16px + 54 * ((12vw + 53vh) - 520px) / 820);            
        }
        @include desk {
            margin-top: 5vh;
            font-size: 18px;            
        }
    }


}
.s1 .photo{
    @include desk {
        display: none;
    }
}

//    <!-- -------------------- SECTION 2 -------------------- -->
.s2 {

    .box-photo {
        background: $cor;

            .photo{
            @include desk {
                width: 70vw;
                left: auto;
                height: 70vh;
                top: 15vh;
                right: 0;       
            }
        }
    }


    .holder-infos {
        margin-top: 0;
    }

    .holder-h1{
        margin-top: 10px;
        
        h1 {
            font-size: calc(26px + 54 * ((53vw + 53vh) - 520px) / 820);
            line-height: 33px;
            @include tablet {
                width: 70%;
                font-size: calc(18px + 54 * ((53vw + 53vh) - 520px) / 820);
                line-height: 42px;                
            }
            @include desk {
                width: 48%;
                font-size: calc(6px + 54 * ((53vw + 53vh) - 520px) / 820);
                line-height:58px;                
            }
            @include hd {
                width: 55%;
                font-size: calc(-2px + 54 * ((53vw + 53vh) - 520px) / 820);
                line-height:82px;                
            }
        }
    }

    .holder-h2{
        margin-top: 10px;

        h2 {
            @include desk {
                color: #fff;
                font-size: 18px;
            }
        }
    }

    .ctn-control-slide {
        margin-top: 15vh;
        
        .holder-cntrl-slide {
            width: 120px;
            justify-content: space-between;
            @include desk {
                width: 182px;                
            }

            img.arrow-slide {
                height: 17px;
                @include desk {
                    height: 23px;
                }
            }

            .box-numb-indic {
                
                p {
                    font-size: 13px;
                    margin: 0px 2px;
                    @include desk {
                        font-size: 15px;
                        margin: 0px 3px;                        
                    }
                }

                p.numb-static {
                    opacity: 0.6;
                }
            }
        }

    }

} //Close s2 Section




//    <!-- -------------------- SECTION 3 -------------------- -->
.s3, .s4, .s5, .s6{

    .holder{
        @include desk {
            width: 40vw;          
        }
    }
    .holder-h2 {
        h2 {
            font-size: 14px;
            @include desk {
                color: #fff;
                font-size: 18px;
            }
        }
    }
    .holder-h1 {
        margin-top: 15px;
        h1 {
            font-size: 27px;
            @include tablet {
                font-size: 26px;
            }
            @include desk {
                font-size: 45px;
                
            }
        }
    }

    .holder-p {
        margin-top: 14px;
        p {
            font-size: 12px;
            line-height: 16px;
            @include tablet {
                width: 65%;
            }
            @include desk {
                font-size: 14px;
                line-height: 25px;
            }
            @include hd {
                width: 80%;
            }
        }
    }

    .holder-btn {
        margin-top: 21px;

        button {
            @include clear;
            @include serif;
            letter-spacing: 1px;
            width: 140px;
            height: 40px;
            font-size: 11px;
            background-color: $cor;

            img.arrow-btn {
                margin: 0px 15px;
                height: 7px;
            }
        }
    }

}//Close Section


// ADJUSTS SEPARATE S3
.s3 .holder, .s5 .holder{
    @include desk {
        width: 40vw;
        margin-left: 35vw;            
    }
}
.s4 .holder, .s6 .holder{
    @include desk {
        width: 40vw;
        margin-left: -35vw;            
    }
}


// ADJUSTS SEPARATE S4
.s4 button.btn-section.e-red.e-flex, .s6 button.btn-section.e-red.e-flex {
    background: #fff;
}
.s4 .photo {
    @include desk {
        display: none;
    }
}

// ADJUSTS SEPARATE S6
.s6{

    .box-photo{
        @include desk {
            background: $cor;
        }
        .photo {
            @include desk {
                opacity: 1;
                right: 0;
                width: 40%;
            }
        }
    }
}


// ADJUSTS SEPARATE S7
.s7 {

    .holder {
        justify-content: center;
    }

    .holder-h1 {
        @include desk {
            @include flex-center;
        }
        h1 {
            color: $cor;
            text-align: center;
            font-size: 27px;
            @include desk {
                font-size: calc(6px + 54 * ((53vw + 53vh) - 520px) / 820);
            }
            @include hd {
                font-size: calc(-10px + 54 * ((53vw + 53vh) - 520px) / 820);
                
            }
        }
    }

    .holder-p {
        margin-top: 12px;
        position: relative;
        
        @include desk {
                margin-left: 0;
        }
        p {
            color: #999;
            font-size: 13px;
            line-height: 21px;
            @include desk {
                text-align: center;
                width: 50%;
                margin-left: 20vw;
                font-size: 14px;
                line-height: 26px;
            }
            @include hd {
                font-size: 15px;
                width: 40%;
                margin-left: 24vw;
            }
        }
    }

    .holder-btn {
        margin-top: 21px;
        @include desk {
            margin-top: 10vh;
        }

        button {
            @include clear;
            @include serif;
            letter-spacing: 1px;
            width: 220 px;
            height: 40px;
            font-size: 17px;
            @include desk {
                font-size: 24px;
            }

            img.arrow-btn {
                margin: 0px 15px;
                height: 7px;
                @include desk {
                    height: 15px;
                    margin-top: 7px;
                }
            }
        }
    }
    
}






$images: 1 2 3 4 5 6 7;
@each $item in $images {
    .bp#{$item} .photo{
        background: url(https://unsplash.it/109#{$item}) center no-repeat;
        background-size: cover;
        opacity: 0.7;
    }
}


.gs-dev-tools {  z-index: 99999;  position: fixed; }











