@import'normal-reset'; @import 'alias-mixins';body {
    margin: 0;
    overflow: hidden;
 }
 main {
   position: fixed;
   overflow: hidden;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   touch-action: none;  
   background: #000;
 }