@import'normal-reset'; @import 'alias-mixins';
body {
    background-color: #000;
    overflow: hidden;
}

.logo {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 40px;
    width: 40px;
    background: pink;
    z-index: 999;
    cursor: pointer;
}
.holder {
    @include flex-center;
    width: 600vw;
    height: 100vh;

    .ctn-box {
        @include flex-center;
        top: 0;
        height: 100%;
        width: 100vw;
        position: relative;

        .box {
            height: 60%;
            width: 60%;
            position: absolute;
        }
    }

}

button {
    @include clear;
    position: fixed;
    z-index: 10;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.123);
    padding: 15px;
    top: 41vh;
    font-weight: bold;
    font-size: 10px;
    margin: 3vw;
    letter-spacing: 2px;
    transition: .8s ease;
    cursor: pointer;

    &:hover {
        border: 2px solid rgba(252, 88, 88, 0.801);
        transition: .8s ease;
    }
}

.trigger-next {
    right: 0;
}


.view {
    @include flex-center;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.photo {
    position: fixed;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: url(https://unsplash.it/1081) center no-repeat;
    background-size: cover;
}

.box-text {
    position: fixed;
    right: 5vw;
    width: 30vw;
    padding: 5vw;
    color: #fff;
}



$sociais: 1 2 3 4 5 6;
@each $item in $sociais {
    .ctn-box#{$item} .box{
        background: url(https://unsplash.it/108#{$item}) center no-repeat;
        background-size: cover;
    }
}


$pages: 1 2 3 4 5 6;
@each $photo in $pages {
    .page#{$photo} .photo{
        background: url(https://unsplash.it/108#{$photo}) center no-repeat;
        background-size: cover;
    }
}
