@import'normal-reset'; @import 'alias-mixins';
body {
    background-color: #080808;
    overflow: hidden;
}

.logo {
    position: fixed;
    top: 36px;
    left: 53px;
    height: 49px;
    width: 49px;
    z-index: 999;
    cursor: pointer;
    background: url(../images/logo-efet-branco.svg) center no-repeat;
    background-size: contain;
}
.holder {
    @include flex-center;
    width: 500vw;
    height: 100vh;

    .ctn-box {
        @include flex-center;
        top: 0;
        height: 100%;
        width: 100vw;
        position: relative;

        .box {
            height: 60%;
            width: 60%;
            position: absolute;
        }
    }

}

button {
    @include clear;
    position: fixed;
    z-index: 10;
    color: #fff;
    border: 2px solid #ffffff1f;
    padding: 15px;
    top: 41vh;
    font-weight: bold;
    font-size: 10px;
    margin: 3vw;
    letter-spacing: 2px;
    transition: .8s ease;
    cursor: pointer;

    &:hover {
        border: 2px solid $color;
        transition: .8s ease;
    }
}

.trigger-next {
    right: 0;
}


.view {
    @include flex-center;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.photo {
    position: fixed;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: url(https://unsplash.it/1081) center no-repeat;
    background-size: cover;
}

.box-text {
    position: fixed;
    right: 5vw;
    width: 30vw;
    padding: 5vw;
    color: #fff;
}

h1 {
    color: $color;
    @include sans;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 3px;
}

p {
    margin-top: 40px;
    color: #aaa;
    line-height: 22px;
    text-align: justify;
    max-width: 360px;
}

h2 {
    opacity: 0.12;
    font-family: 'Meddon', cursive;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18vw;
    color: $color;
}

.ctn-indicator {
    position: fixed;
    @include flex-center;
    left: 87%;
    bottom: 10%;

    p {
        font-family: sans-serif;
        color: #fff;
        font-size: 12px;
        margin: 0px 10px;
    }

    .dyna {
        color: $color;
    }
}
$sociais: 1 2 3 4 5 6;
@each $item in $sociais {
    .ctn-box#{$item} .box, .page#{$item} .photo {
        background: url(../images/0#{$item}.jpg) center no-repeat;
        background-size: cover;
    }
}
