html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  overflow: hidden;
  background: #aaa; }

h1 {
  font-family: 'Yrsa', serif;
  font-weight: 300; }

p {
  font-family: 'Open Sans', sans-serif; }

h2 {
  font-family: 'Open Sans', sans-serif; }

.e-decor {
  font-family: 'Oswald', sans-serif;
  color: #fff; }

.e-white {
  color: #fff; }

.e-red {
  color: #0089d0; }

.e-flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }

.e-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.e-flex-start {
  display: flex;
  align-items: center;
  position: relative;
  width: 80vw; }

.e-serif {
  font-family: 'Yrsa', serif; }

.e-italic {
  font-style: italic;
  color: #9ddeff; }

.trigger-menu {
  position: fixed;
  z-index: 1;
  right: 5vw;
  top: 6vh;
  width: 36px;
  height: 36px;
  border: 3px solid #0089d0;
  border-radius: 50%; }
  .trigger-menu img.menu-svg {
    width: 14px; }

img.imn-logo {
  top: 2vh;
  left: 5vw;
  position: fixed;
  z-index: 2;
  width: 162px; }

button.ctn-scroll-down {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  position: fixed;
  left: 5vw;
  bottom: 12vh;
  z-index: 2;
  cursor: pointer; }
  button.ctn-scroll-down .scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 46px;
    height: 46px;
    border: 2px solid rgba(255, 255, 255, 0.404);
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 70px -25px white;
    -moz-box-shadow: 10px 10px 70px -25px white;
    box-shadow: 10px 10px 70px -25px white; }
    button.ctn-scroll-down .scroll-down img.svg-down {
      width: 8px; }
  button.ctn-scroll-down .page-indicator {
    font-size: 14px;
    font-weight: bolder;
    margin-left: 14px; }

.holder-scroll-down {
  position: relative; }

.ctn-triggers {
  position: fixed;
  right: 5vw;
  z-index: 1;
  bottom: 2%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 1024px) {
    .ctn-triggers {
      display: none; } }
  .ctn-triggers .box-trigger {
    cursor: pointer;
    padding: 5px;
    margin: 11px 5px; }
    .ctn-triggers .box-trigger .trigger {
      height: 4px;
      width: 4px;
      background: #ccc;
      border-radius: 50%; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; }

video.bgvid {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.2; }

video#bgvid {
  width: 100vw;
  opacity: 0.8; }
  @media only screen and (max-width: 1024px) {
    video#bgvid {
      display: none; } }

.box-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden !important; }
  .box-photo .photo {
    position: absolute;
    width: 100%;
    height: 100%; }
  .box-photo .bg-pat {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png); }
  .box-photo img.decor {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh; }

.holder-infos {
  margin-top: -10vh; }
  @media only screen and (min-width: 1025px) {
    .holder-infos {
      margin-top: -10vh; } }

.holder-h1 {
  position: relative; }
  .holder-h1 .holder-decor {
    position: absolute;
    height: 210px;
    width: 210px; }
    @media only screen and (min-width: 1025px) {
      .holder-h1 .holder-decor {
        right: 0;
        height: 240px;
        width: 240px;
        margin-top: -19%;
        margin-right: -8%; } }
    @media only screen and (min-width: 1800px) {
      .holder-h1 .holder-decor {
        width: 340px;
        margin-top: -10%; } }
    .holder-h1 .holder-decor .symbol-decor {
      position: absolute;
      width: 100%; }
    .holder-h1 .holder-decor .decor-line {
      margin-left: -14px;
      margin-top: 10px; }
  .holder-h1 h1 {
    z-index: 1; }

.s1 .holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90vw; }

.holder {
  width: 80vw;
  margin-top: 0;
  position: relative; }

.s1 {
  z-index: 1; }
  .s1 .holder-infos {
    margin-top: 0vh; }
    @media only screen and (min-width: 1025px) {
      .s1 .holder-infos {
        margin-top: 38vh; } }
  .s1 .holder-h1 {
    margin-top: -7vh; }
    @media only screen and (min-width: 580px) and (max-width: 1024px) {
      .s1 .holder-h1 {
        width: 65vw; } }
    @media only screen and (min-width: 1025px) {
      .s1 .holder-h1 {
        width: 62vw;
        margin-top: -22vh; } }
    @media only screen and (min-width: 1800px) {
      .s1 .holder-h1 {
        width: 1020px; } }
    .s1 .holder-h1 .holder-decor {
      width: 308px;
      margin-left: -23%;
      margin-top: -6%; }
      @media only screen and (min-width: 580px) and (max-width: 1024px) {
        .s1 .holder-h1 .holder-decor {
          width: 360px; } }
      @media only screen and (min-width: 1025px) {
        .s1 .holder-h1 .holder-decor {
          right: auto;
          width: 400px;
          margin-left: -35%; } }
      @media only screen and (min-width: 1800px) {
        .s1 .holder-h1 .holder-decor {
          width: 510px; } }
      @media only screen and (min-width: 1025px) {
        .s1 .holder-h1 .holder-decor .decor-line {
          margin-left: -15%;
          margin-top: 7%; } }
    .s1 .holder-h1 h1 {
      margin-left: 6vw;
      font-size: calc(40px + 54 * ((53vw + 53vh) - 520px) / 820); }
      @media only screen and (min-width: 580px) and (max-width: 1024px) {
        .s1 .holder-h1 h1 {
          font-size: calc(36px + 54 * ((45vw + 53vh) - 520px) / 820); } }
      @media only screen and (min-width: 1025px) {
        .s1 .holder-h1 h1 {
          letter-spacing: -2px;
          font-size: calc(46px + 54 * ((45vw + 53vh) - 520px) / 820); } }
      @media only screen and (min-width: 1800px) {
        .s1 .holder-h1 h1 {
          letter-spacing: -2px;
          font-size: 95px; } }
  .s1 .holder-h2 h2 {
    font-size: calc(28px + 54 * ((22vw + 53vh) - 520px) / 820);
    letter-spacing: 1px; }
    @media only screen and (min-width: 580px) and (max-width: 1024px) {
      .s1 .holder-h2 h2 {
        font-size: calc(22px + 54 * ((22vw + 53vh) - 520px) / 820); } }
    @media only screen and (min-width: 1025px) {
      .s1 .holder-h2 h2 {
        font-size: calc(18px + 54 * ((22vw + 53vh) - 520px) / 820);
        letter-spacing: 2px; } }
    @media only screen and (min-width: 1800px) {
      .s1 .holder-h2 h2 {
        font-size: calc(16px + 54 * ((22vw + 53vh) - 520px) / 820); } }
  .s1 .holder-p {
    margin-top: 3vh;
    color: #0089d0;
    font-size: calc(22px + 54 * ((12vw + 53vh) - 520px) / 820); }
    @media only screen and (min-width: 580px) and (max-width: 1024px) {
      .s1 .holder-p {
        font-size: calc(16px + 54 * ((12vw + 53vh) - 520px) / 820); } }
    @media only screen and (min-width: 1025px) {
      .s1 .holder-p {
        margin-top: 5vh;
        font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  .s1 .photo {
    display: none; } }

.s2 .box-photo, .s3 .box-photo, .s4 .box-photo, .s5 .box-photo {
  background: #00466a; }

.s2 .holder-infos, .s3 .holder-infos, .s4 .holder-infos, .s5 .holder-infos {
  margin-top: 0; }
  @media only screen and (min-width: 1025px) {
    .s2 .holder-infos, .s3 .holder-infos, .s4 .holder-infos, .s5 .holder-infos {
      margin-top: 7vh;
      margin-left: -5vw; } }

.s2 .holder, .s3 .holder, .s4 .holder, .s5 .holder {
  width: 90vw; }
  @media only screen and (min-width: 580px) and (max-width: 1024px) {
    .s2 .holder, .s3 .holder, .s4 .holder, .s5 .holder {
      width: 65vw; } }
  @media only screen and (min-width: 1025px) {
    .s2 .holder, .s3 .holder, .s4 .holder, .s5 .holder {
      width: 60vw; } }
  @media only screen and (min-width: 1800px) {
    .s2 .holder, .s3 .holder, .s4 .holder, .s5 .holder {
      width: 50vw; } }

.s2 .holder-h1, .s3 .holder-h1, .s4 .holder-h1, .s5 .holder-h1 {
  margin-top: 15px;
  margin-bottom: 27px; }
  .s2 .holder-h1 h1, .s3 .holder-h1 h1, .s4 .holder-h1 h1, .s5 .holder-h1 h1 {
    font-size: 42px;
    line-height: 33px; }
    @media only screen and (min-width: 580px) and (max-width: 1024px) {
      .s2 .holder-h1 h1, .s3 .holder-h1 h1, .s4 .holder-h1 h1, .s5 .holder-h1 h1 {
        width: 70%;
        font-size: calc(18px + 54 * ((53vw + 53vh) - 520px) / 820);
        line-height: 42px; } }
    @media only screen and (min-width: 1025px) {
      .s2 .holder-h1 h1, .s3 .holder-h1 h1, .s4 .holder-h1 h1, .s5 .holder-h1 h1 {
        width: 74%;
        font-size: 69px;
        line-height: 58px; } }
    @media only screen and (min-width: 1800px) {
      .s2 .holder-h1 h1, .s3 .holder-h1 h1, .s4 .holder-h1 h1, .s5 .holder-h1 h1 {
        font-size: 100px;
        width: 81%;
        line-height: 82px; } }

.s2 .line-scale, .s3 .line-scale, .s4 .line-scale, .s5 .line-scale {
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.4; }

.s2 .holder-p, .s3 .holder-p, .s4 .holder-p, .s5 .holder-p {
  margin: 25px 0px; }
  .s2 .holder-p p, .s3 .holder-p p, .s4 .holder-p p, .s5 .holder-p p {
    font-size: 15px;
    text-align: justify;
    line-height: 21px; }
    @media only screen and (min-width: 1025px) {
      .s2 .holder-p p, .s3 .holder-p p, .s4 .holder-p p, .s5 .holder-p p {
        width: 57%;
        line-height: 27px;
        opacity: 0.7; } }
    @media only screen and (min-width: 1800px) {
      .s2 .holder-p p, .s3 .holder-p p, .s4 .holder-p p, .s5 .holder-p p {
        width: 42%; } }

.s2 button.link-page, .s3 button.link-page, .s4 button.link-page, .s5 button.link-page {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  width: 100%;
  justify-content: flex-start;
  margin-top: 23px; }
  .s2 button.link-page a, .s3 button.link-page a, .s4 button.link-page a, .s5 button.link-page a {
    color: #fff;
    font-size: 13px;
    margin-right: 20px; }
  .s2 button.link-page img.arrow-go-page, .s3 button.link-page img.arrow-go-page, .s4 button.link-page img.arrow-go-page, .s5 button.link-page img.arrow-go-page {
    width: 10px; }

.e-fixed {
  z-index: 2;
  position: fixed; }

.bp3 .photo {
  background: url(https://unsplash.it/g/1093) center no-repeat;
  background-size: cover;
  opacity: 0.6; }

.bp4 .photo {
  background: url(https://unsplash.it/g/1094) center no-repeat;
  background-size: cover;
  opacity: 0.6; }

.bp5 .photo {
  background: url(https://unsplash.it/g/1095) center no-repeat;
  background-size: cover;
  opacity: 0.6; }

.bp6 .photo {
  background: url(https://unsplash.it/g/1096) center no-repeat;
  background-size: cover;
  opacity: 0.6; }

.bp7 .photo {
  background: url(https://unsplash.it/g/1097) center no-repeat;
  background-size: cover;
  opacity: 0.6; }

.s2 {
  z-index: -2; }

.s3 {
  z-index: -3; }

.s4 {
  z-index: -4; }

.s5 {
  z-index: -5; }

.gs-dev-tools {
  z-index: 99999;
  position: fixed; }
