/* Scss Document */
.icon-facebook {
  background: url("../images/facebook.png");
}

.icon-instagram {
  background: url("../images/instagram.png");
}

.icon-twitter {
  background: url("../images/twitter.png");
}

/* FIM RECURSOS SCSS*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3C472E;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
@media only screen and (min-width: 381px) and (max-width: 660px) {
  body {
    background-color: #343146;
  }
}
@media only screen and (min-width: 661px) and (max-width: 960px) {
  body {
    background-color: #3B2D3A;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  height: 15vh;
  width: 80vw;
  background-color: #2f3824;
}
.container p {
  color: #fff;
}
@media only screen and (min-width: 381px) and (max-width: 660px) {
  .container {
    background-color: #292737;
  }
}
@media only screen and (min-width: 661px) and (max-width: 960px) {
  .container {
    background-color: #241b23;
    opacity: 0.2;
  }
}
