html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fff;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.trg-menu {
	z-index: 11;
	position: fixed;
	width: 50px;
	height: 30px;
	background-color: aqua;
	right: 15px;
	top: 15px;
	cursor: pointer;
}
.ctn-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: #1A1A1A;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.box-link {
	width: 100%;
	display: flex;
	height: 15vh;
	justify-content: center;
	align-items: center;
	
}

.ctn-menu a {
	white-space: nowrap;
	font-family: josefin-sans;	
	text-align: center;
	font-size: 28px;
	text-decoration: none;
	color: #fff;

}

.box-link:nth-child(1){
	margin-top: -8vh;
}

.ctn-menu span {
	display: none
}



.ctn-icons {
	display: flex;
	justify-content: space-around;
	height: 25px;
	width: 200px;
	bottom: 06vh;
	position: absolute;
}



















	/* 	color: #212121;
	color: #515151;
	color: #464646; */

/*BP DESKTOP*/

@media (min-width: 960px){
	
	.ctn-menu {
		background-color: #fff;
	}
	.box-link {
		background-color: #1A1A1A;
		top:0;
		flex-direction: column;
		height: 100vh;
		transition: 1s ease;
		
	}
	

	.box-link:hover   {
		background-color: #232323;
		transition: 1s ease;
			
	}
	

	.box-link:nth-child(1){
		margin-top: 0;
	}
	
	
	.ctn-menu {
		flex-direction: row;
		
	}
	.ctn-menu a {
		margin-top: -10vh;
		font-size: 32px;
		font-weight: 600;
		color: #515151;
		transition: 1s ease;
	}
	
	.box-link:hover a {
		color: #fff;
		transition: 1s ease;
	}
		
	a::after {
	margin-top: 15px;
	display: block;
	content: " ";
	width: 0%;
	height: 1px;
	background-color: aliceblue;
	margin: 20 auto;
	transition: .6s ease-out;
}

	a:hover::after {
	width: 100%;
	transition: .6s ease-out;
}


	
.ctn-menu span {
	display: inherit;
	margin-top: 20px;
	font-family: josefin-sans;
	color: #464646;
	transition: 1s ease;
	
}

.box-link:hover span {
		color: #606060;
		transition: 1s ease;
	}
	

	
}
