html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  overflow-x: hidden !important; }

h1 {
  color: #fff; }

.e-white {
  color: #fff; }

.e-red {
  color: #a50000; }

.e-flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }

.e-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.e-flex-start {
  display: flex;
  align-items: center;
  position: relative;
  width: 80vw; }

.e-serif {
  font-family: 'Philosopher', sans-serif; }

.ctn-slide-trigger {
  position: relative; }
  .ctn-slide-trigger .holder-slider-trg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw; }
  .ctn-slide-trigger .box-photo-galeria-trg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    margin-top: 17vh; }
    .ctn-slide-trigger .box-photo-galeria-trg .photo-trg {
      width: 90%;
      height: 100%; }

.ctn-slide-lightbox {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden; }
  .ctn-slide-lightbox .holder-slide-lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw; }
  .ctn-slide-lightbox .box-photo-galeria-lb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    .ctn-slide-lightbox .box-photo-galeria-lb .photo-trg {
      width: 95%;
      height: 95%; }
      @media only screen and (min-width: 1025px) {
        .ctn-slide-lightbox .box-photo-galeria-lb .photo-trg {
          width: 94vw;
          height: 97vh; } }

.bp1 .photo-trg {
  background: url(../image/foto1.png) center no-repeat;
  background-size: cover; }

.bp2 .photo-trg {
  background: url(../image/foto2.png) center no-repeat;
  background-size: cover; }

.bp3 .photo-trg {
  background: url(../image/foto3.png) center no-repeat;
  background-size: cover; }

.bp4 .photo-trg {
  background: url(../image/foto4.png) center no-repeat;
  background-size: cover; }

.bp5 .photo-trg {
  background: url(../image/foto5.png) center no-repeat;
  background-size: cover; }

.bp6 .photo-trg {
  background: url(../image/foto6.png) center no-repeat;
  background-size: cover; }

.bp7 .photo-trg {
  background: url(../image/foto7.png) center no-repeat;
  background-size: cover; }

.bp8 .photo-trg {
  background: url(../image/foto8.png) center no-repeat;
  background-size: cover; }

.bp9 .photo-trg {
  background: url(../image/foto9.png) center no-repeat;
  background-size: cover; }

.bp10 .photo-trg {
  background: url(../image/foto10.png) center no-repeat;
  background-size: cover; }

.bp11 .photo-trg {
  background: url(../image/foto11.png) center no-repeat;
  background-size: cover; }

.bp12 .photo-trg {
  background: url(../image/foto12.png) center no-repeat;
  background-size: cover; }

.bp13 .photo-trg {
  background: url(../image/foto13.png) center no-repeat;
  background-size: cover; }

.bp14 .photo-trg {
  background: url(../image/foto14.png) center no-repeat;
  background-size: cover; }

.bp15 .photo-trg {
  background: url(../image/foto15.png) center no-repeat;
  background-size: cover; }
