@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	background: #1A1A1A;
	overflow: hidden;
}
.bg{
	top:0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(https://i.ytimg.com/vi/t0kGRcd-IFY/maxresdefault.jpg)center no-repeat;
	background-size: cover;
}

.bg2{
	top:0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(https://i.ytimg.com/vi/kPiqHGiCDS0/maxresdefault.jpg) center no-repeat;
	background-size: cover;
}

.bg3{
	top:0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(http://www.stoida.com/insects/fly/fly3.jpg) center no-repeat;
	background-size: cover;
}


.ctn {

	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ctn-slider{
	height: 65vh;
	width: 75vw;
	background: #6C6C6C;
	overflow: hidden;
}

.photo {
	position: absolute;
	width: 75%;
	height: 65%;
}

#photo1 {
	background-color: aqua;
	
}

#photo2 {
	background-color: red;
}
#photo3 {
	background-color: blue;
}