@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	background: #1A1A1A;
	overflow: hidden;
}
.bg{
	opacity: 0.4;
	top:0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(http://efetivos.com.br/images/header_sketch.jpg)center no-repeat;
	background-size: cover;
	 -webkit-filter: blur(8px);
  	-moz-filter: blur(8px);
  	-o-filter: blur(8px);
  	-ms-filter: blur(8px);
  filter: blur(8px);
}

.bg2{
	opacity: 0.4;
	top:0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(https://i.ytimg.com/vi/kPiqHGiCDS0/maxresdefault.jpg) center no-repeat;
	background-size: cover;
	-webkit-filter: blur(8px);
  	-moz-filter: blur(8px);
  	-o-filter: blur(8px);
  	-ms-filter: blur(8px);
  	filter: blur(8px);
}

.bg3{
	opacity: 0.4;
	top:0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(http://www.stoida.com/insects/fly/fly3.jpg) center no-repeat;
	background-size: cover;
	-webkit-filter: blur(8px);
  	-moz-filter: blur(8px);
  	-o-filter: blur(8px);
  	-ms-filter: blur(8px);
  	filter: blur(8px);
}


.ctn {

	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ctn-slider{
	height: 65vh;
	width: 75vw;
	overflow: hidden;
}

.photo {
	position: absolute;
	width: 75%;
	height: 65%;
}

#photo1 {
	background: url(http://efetivos.com.br/images/header_sketch.jpg)center no-repeat;
	background-size: cover;
	
}

#photo2 {
	background: url(https://i.ytimg.com/vi/kPiqHGiCDS0/maxresdefault.jpg) center no-repeat;
	background-size: cover;
}
#photo3 {
	background: url(http://www.stoida.com/insects/fly/fly3.jpg) center no-repeat;
	background-size: cover;
}