html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  background-color: #000;
  overflow: hidden; }

.logo {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 40px;
  width: 40px;
  background: pink;
  z-index: 999;
  cursor: pointer; }

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500vw;
  height: 100vh; }
  .holder .ctn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100vw;
    position: relative; }
    .holder .ctn-box .box {
      height: 60%;
      width: 60%;
      position: absolute; }

button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  position: fixed;
  z-index: 10;
  color: #fff;
  border: 2px solid #ffffff1f;
  padding: 15px;
  top: 41vh;
  font-weight: bold;
  font-size: 10px;
  margin: 3vw;
  letter-spacing: 2px;
  transition: .8s ease;
  cursor: pointer; }
  button:hover {
    border: 2px solid #ff4d4d;
    transition: .8s ease; }

.trigger-next {
  right: 0; }

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0; }

.photo {
  position: fixed;
  left: 0;
  width: 50vw;
  height: 100vh;
  background: url(https://unsplash.it/1081) center no-repeat;
  background-size: cover; }

.box-text {
  position: fixed;
  right: 5vw;
  width: 30vw;
  padding: 5vw;
  color: #fff; }

h1 {
  color: #ff4d4d;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 3px; }

p {
  margin-top: 40px;
  color: #aaa;
  line-height: 22px;
  text-align: justify;
  max-width: 360px; }

h2 {
  opacity: 0.12;
  font-family: 'Meddon', cursive;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18vw;
  color: #ff4d4d; }

.ctn-indicator {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 87%;
  bottom: 10%; }
  .ctn-indicator p {
    font-family: sans-serif;
    color: #fff;
    font-size: 12px;
    margin: 0px 10px; }
  .ctn-indicator .dyna {
    color: #ff4d4d; }

.ctn-box1 .box {
  background: url(https://unsplash.it/1081) center no-repeat;
  background-size: cover; }

.ctn-box2 .box {
  background: url(https://unsplash.it/1082) center no-repeat;
  background-size: cover; }

.ctn-box3 .box {
  background: url(https://unsplash.it/1083) center no-repeat;
  background-size: cover; }

.ctn-box4 .box {
  background: url(https://unsplash.it/1084) center no-repeat;
  background-size: cover; }

.ctn-box5 .box {
  background: url(https://unsplash.it/1085) center no-repeat;
  background-size: cover; }

.ctn-box6 .box {
  background: url(https://unsplash.it/1086) center no-repeat;
  background-size: cover; }

.page1 .photo {
  background: url(https://unsplash.it/1081) center no-repeat;
  background-size: cover; }

.page2 .photo {
  background: url(https://unsplash.it/1082) center no-repeat;
  background-size: cover; }

.page3 .photo {
  background: url(https://unsplash.it/1083) center no-repeat;
  background-size: cover; }

.page4 .photo {
  background: url(https://unsplash.it/1084) center no-repeat;
  background-size: cover; }

.page5 .photo {
  background: url(https://unsplash.it/1085) center no-repeat;
  background-size: cover; }
