
css masking
https://tympanus.net/codrops/2016/09/29/transition-effect-with-css-masks/

gif masking
https://codepen.io/sdras/pen/BReNEN

original 
https://engzell.me/

svg displacement map 
https://codepen.io/osublake/pen/WQyBJb

svg filter example
https://gist.github.com/akella/891654203f468ad017d6e52861064224

haxiomic.github.io/GPU-Fluid-Experiments/html5/?q=UltraHigh